body{
    background-color: #f6f6f6;
}

.formulaire{
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 400px;
    margin-top: 100px; 
    box-shadow: 10px 10px 10px 10px #bcbbbb;
}

h4{
    color: #777171;
}

.inscrire{
    background-color: #235182;
    color: white;
    border: none;
    width: 100px;
    height: 35px;
    margin-left: 300px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #bcbbbb;
}
a{
    color: rgb(0, 0, 0);
}
.aligner{
    align-items: center;
}
.facebook{
    background-color: #235182;
    color: white;
    border: none;
    width: 400px;
    height: 35px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #bcbbbb;
}

input{
    margin-bottom: 20px;
    width: 400px;
    height: 30px;
    border: none;
    box-shadow: 1px 1px 1px 1px #bcbbbb;
}


